* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body {
    background: url("images/museum-background.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body a {
    color: #3c8f3c;
}

.navbar {
    background-color: #a2ff73;
    height: 50px;
    width: 100%;
    z-index: 999;
}

.content {
    margin: 0 auto;
    width: 800px;
    font-size: 25px;
}

.content ul {
    list-style: none;
    display: table;
}

.content ul li {
    padding: 0 10px;
    position: relative;
    display: inline-block;
    line-height: 50px;
    /*width: 25%;*/
}

.content li > a {
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
}

.content li:hover {
    background-color: #6cff23;
}

.content li.active {
    background-color: #3fbb00;
}

.main-content {
    width: 1000px;
    height: 100%;
    background-color: rgba(150, 123, 103, 0.85);
    margin: 0 auto;
    color: #262626;
    font-size: 17px;
}

.pagination-box {
    text-align: center;
    background-color: rgba(66, 57, 53, 0.4);
}

.pagination {
    display: inline-block;
    /*margin: 2px auto;*/
    height: 100%;
    margin: 1px auto auto auto;
}

.pagination a {
    color: white;
    display: inline-block;
    text-decoration: none;
    float: left;
    padding: 8px 8px;
}

.pagination a:hover {
    border-radius: 3px;
    background-color: #988476;
    color: aliceblue;
}

.pagination a.active {
    border-radius: 3px;
    background-color: rgb(171, 131, 99);
    color: aliceblue;
}

.paginated-content-table {
    background: rgba(233, 234, 229, 0.5);
    width: 95%;
    margin: 0 auto;
}

/*.paginated-content-table a {*/
/*    text-decoration: none;*/
/*}*/

/*.paginated-content-table a:hover {*/
/*    text-decoration: none;*/
/*    color: #1821ea;*/
/*}*/

.paginated-content-table th {
    background: deepskyblue;
    border: 1px solid rgba(233, 234, 229, 0.5);
    padding: 5px;
}

.paginated-content-table td {
    border-bottom: 1px solid black;
    padding: 5px;
}

.paginated-content-table td button {
    background-color: rgba(255, 255, 255, 0);
    font-size: 18px;
    color: #423935;
    font-weight: bold;
    cursor: pointer;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.paginated-content-table td button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.form-popup {
    display: none;
    position: fixed;
    top: 40%;
    left: 30%;
    z-index: 999;
    border-radius: 8px;
    border: 3px solid #ffe9ca;
    max-width: 400px;
}

.form-popup-content {
    padding: 10px 10px;
    background-color: #fff;
    color: black;
}

.form-popup-content input[type=text] {
    background-color: #c7c7c7;
    width: 100%;
    font-size: 12px;
    padding: 5px;
    border: none;
}

.form-popup-content input[type=submit] {
    background-color: #2aff00;
    color: white;
    margin-top: 10px;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-popup-content input[type=submit]:hover {
    opacity: 1;
}

.form-popup-content button {
    background-color: #a97900;
    color: white;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-popup-content button:hover {
    opacity: 1;
}

.form-popup-content a {
    background-color: #ce2424;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-popup-content a:hover {
    opacity: 1;
}


