<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create exhibition part</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <link rel="stylesheet" th:href="@{/exhibit-page-styles.css}"/>
</head>
<body>
<div class="main-content">
    <div class="navbar">
        <div class="content">
            <ul>
                <li><a th:href="@{~/backtopastapp}">Главная</a></li>
                <li><a th:href="@{/exhibits}">Exhibits</a></li>
                <li><a th:href="@{/departments}">Departments</a></li>
                <li><a th:href="@{/exhibitions}">Exhibitions</a></li>
            </ul>
        </div>
    </div>

    <form th:object="${exhibitionPartDto}" method="post">
        <p>Exhibit:
            <select th:field="*{exhibitId}">
                <option th:each="exh : ${exhibits}" th:value="${exh.id}" th:text="${exh.name}"></option>
            </select></p>
        <p>Exhibition:
            <select th:field="*{exhibitionId}">
            <option th:each="exhib : ${exhibitions}" th:value="${exhib.id}" th:text="${exhib.name}"></option>
        </select></p>
        <p><input type="submit" value="Submit"/>
    </form>
</div>
</body>
</html>