<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>BackToPast</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<div class="main-content">
    <div class="navbar">
        <div class="content">
            <ul>
                <li class="active"><a th:href="@{~/backtopastapp}">Главная</a></li>
                <li><a th:href="@{/exhibits}">Exhibits</a></li>
                <li><a th:href="@{/departments}">Departments</a></li>
                <li><a th:href="@{/exhibitions}">Exhibitions</a></li>
            </ul>
        </div>
    </div>

    <!--    <p><a th:href="@{/exhibits}">Exhibits</a></p>-->
    <!--    <p><a th:href="@{/departments}">Departments</a></p>-->
</div>
</body>
</html>