<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>BackToPast</title>
  <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<div class="navbar">
    <div class="content">
        <ul>
            <li><a th:href="@{/exhibits}">Exhibits</a></li>
            <li><a th:href="@{/departments}">Departments</a></li>
        </ul>
    </div>
</div>
<div class="main-content">
<!--    <p><a th:href="@{/exhibits}">Exhibits</a></p>-->
<!--    <p><a th:href="@{/departments}">Departments</a></p>-->
</div>
</body>
</html>